* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #beb7b7;
    padding-top: 65px;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
}
.navbar .logo{
    width: 228px;
    text-align: center;
}
.navbar .logo img{
    width: 80%;
}
.profil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
}

.search-bar input {
    width: 625px;
    height: 32px;
    padding: 7px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right .burgger{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    margin-right: 28px;
}

/* -------------Aside */

aside{
    margin-top: 45px;
    border: solid 1px blue;
    width: 2200px;
}